header {
    background-color: var(--color--body-background);

    position: absolute;
    inset-block-start: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;

    padding-block: var(--shell--padding);
    padding-inline: var(--full-width-padding-inline);

    user-select: none;

    nav {
        ul {
	        display: flex;
	        align-items: center;
	        gap: 4rem;
	        
            li {
                a {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .logo {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        height: 1em;

        font-size: 4rem;
        font-weight: 400;
    }
}
