@font-face {
    font-family: Peyda;
    font-weight: 100;
    src: url("peyda-thin.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 200;
    src: url("peyda-extra-light.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 300;
    src: url("peyda-light.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 400;
    src: url("peyda-regular.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 500;
    src: url("peyda-medium.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 600;
    src: url("peyda-semi-bold.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 700;
    src: url("peyda-bold.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 800;
    src: url("peyda-extra-bold.woff") format("woff");
}

@font-face {
    font-family: Peyda;
    font-weight: 900;
    src: url("peyda-black.woff") format("woff");
}
