<section>
    <header>
        <h2>نقشه راه</h2>
    </header>

    <main>
        <ul>
            <li>
                <div class="card">
                    <h3 class="title">آزمون ورودی دورۀ فرانت‌اند</h3>
                    <div class="description">
                        <p>
                            این مسابقه از ساعت 15 روز 22 اردیبهشت شروع می‌شود و به مدت 5 ساعت ادامه خواهد داشت و در
                            مجموع شامل 7 سوال است که سطح آن‌ها از آسان به سخت متفاوت خواهد بود.
                        </p>
                        <p>
                            برای حل سوالات باید به HTML، CSS و JavaScript مسلط باشید به طوری که 4 سوال اول مربوط به HTML
                            و CSS هستند و 3 سوال آخر مربوط به JavaScript می‌باشند.
                        </p>
                    </div>
                </div>
                <div class="circle">
                    <div class="date">
                        <div class="day">22</div>
                        <div class="month">اردیبهشت</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <h3 class="title">آزمون ورودی دورۀ مهندسی نرم‌افزار</h3>
                    <div class="description">
                        <p>
                            این مسابقه از ساعت 14 روز 23 اردیبهشت شروع می‌شود و به مدت 6 ساعت ادامه خواهد داشت و در
                            مجموع شامل 5 سوال است که سطح آن‌ها از آسان به سخت متفاوت خواهد بود به طوری که 3 سوال اول
                            الگوریتمی هستند و 2 سوال آخر پیاده‌سازی می‌باشند.
                        </p>
                        <p>
                            برای حل سوالات الگوریتمی می‌توانید از زبان‌های C++ و Java استفاده کنید اما سوالات پیاده‌سازی
                            را فقط می‌توانید با Java حل کنید.
                        </p>
                    </div>
                </div>
                <div class="circle">
                    <div class="date">
                        <div class="day">23</div>
                        <div class="month">اردیبهشت</div>
                    </div>
                </div>
            </li>
        </ul>
    </main>
</section>
