section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    main {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;

            li {
                --padding: 4rem;

                display: flex;
                flex-direction: column;
                gap: 2rem;

                padding: var(--padding);

                h3 {
                    transition: opacity var(--animation--duration--normal), transform var(--animation--duration--slow);

                    &:not(.fade-in) {
                        opacity: 0;
                        transform: translateY(-2rem);
                    }

                    &.fade-in {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                p {
                    transition: opacity var(--animation--duration--normal), transform var(--animation--duration--slow);

                    &:not(.fade-in) {
                        opacity: 0;
                        transform: translateY(2rem);
                    }

                    &.fade-in {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
