<section id="concepts">
    <header>
        <h2>مفاهیم مشترک دوره‌ها</h2>
    </header>

    <main>
        <ul>
            <li>
                <h3>SOLID Principles</h3>
                <p>
                    اصول SOLID یکی از معروف‌ترین و پرکاربردترین اصول مربوط به تمیزی کد است. SOLID از 5 اصل تشکیل شده و
                    با رعایت آن‌ها می‌توان به کدی دست پیدا کرد که هم از نظر خوانایی و توسعه‌پذیری و هم از نظر تست‌پذیری
                    به مراتب جلوتر از کدهای غیر اصولی است.
                </p>
                <p>
                    این مفهوم به همراه تمامی مفاهیم دیگری که در این قسمت آمده، در دوره‌های فرانت‌اند و مهندسی نرم‌افزار
                    به صورت مشترک وجود دارند.
                </p>
            </li>
            <li>
                <h3>Unit Testing</h3>
                <p>
                    در پروژه‌های کوچک معمولاً نیاز به تست احساس نمی‌شود؛ چراکه تعداد توسعه‌دهندگان محدوود است و پروژه‌ها
                    بعد از تحویل یا پشتیبانی نمی‌شوند یا به مدت کوتاهی پشتیبانی می‌شوند؛ اما این مسئله در پروژه‌های بزرگ
                    بسیار حائز اهمیت است.
                </p>
                <p>
                    همان طور که از اسمش پیداست، Unit Testing یعنی تست‌کردن تمام واحدهای سازندۀ برنامه؛ چه کوچک و چه
                    بزرگ. ابزارهای زیادی در این زمینه وجود دارد که هر کدام مزایا و معایب خاص خود را دارند. ما در دورۀ
                    فرانت‌اند از ابزار Karma و در دورۀ مهندسی نرم‌افزار از ابزار xUnit استفاده می‌کنیم.
                </p>
            </li>
            <li>
                <h3>Integration Testing</h3>
                <p>
                    استفاده از Unit Testing تنها بخشی از کد را در یک محیط ایزوله تست می‌کند. اما به مرور زمان قطعاً این
                    نیازمندی احساس می‌شود که قسمت‌های مختلف کد و رابطه‌ای که بین آن‌ها برقرار است را تست کنیم.
                </p>
                <p>
                    ما از ابزار Cypress برای انجام این‌گونه تست‌ها استفاده می‌کنیم. Cypress یکی از معروف‌ترین ابزارهای
                    حوزۀ تست است که تخصص اصلی آن Integration Testing می‌باشد. با استفاده از این ابزار می‌توان تمام
                    عملیاتی که توسط کاربر انجام می‌شود را شبیه‌سازی و از صحت اجرای کد اطمینان حاصل کرد.
                </p>
            </li>
            <li>
                <h3>Test Driven Development</h3>
                <p>
                    معمولاً این تصور در بین برنامه‌نویسان رایج است که ابتدا کد اصلی برنامه را بنویسند و سپس به تست‌نویسی
                    بپردازند. اما Test Driven Development یا به اختصار TDD دقیقاً عکس این را ارائه می‌دهد؛ به‌گونه‌ای که
                    از شما می‌خواهد ابتدا تمام تست‌های ممکن را بسازید و سپس سعی کنید کد قسمت‌های مختلف را بنویسید و
                    تست‌ها را پاس کنید.
                </p>
                <p>
                    مزیت این روش نسبت به روش اول در این است که برنامه‌نویس همیشه نسبت به کاری که باید انجام دهد آگاهی
                    لازم را دارد. همچنین چون تست‌ها از قبل نوشته شده و تمام جوانب کار را مشخص کرده، احتمال بروز خطا کمتر
                    و از سهل‌انگاری جلوگیری می‌شود.
                </p>
            </li>
            <li>
                <h3>Continuous Integration</h3>
                <p>
                    با گذشت زمان و بزرگ‌شدن پروژه، تعداد برنامه‌نویسان و کدی که باید توسعه داده شود، بیشتر می‌شود؛
                    ازاین‌رو بهتر است ابزاری در اختیار داشته باشیم که عملیات تست‌نویسی، چک‌کردن تمیزی کد، بررسی نسخۀ
                    کتابخانه‌های مورد استفاده و پیداکردن نقاط ضعف آن‌ها را به صورت خودکار انجام دهد. به چنین کاری
                    Continuous Integration یا به اختصار CI گفته می‌شود.
                </p>
            </li>
            <li>
                <h3>Continuous Deployment</h3>
                <p>
                    پس از آنکه از صحت اجرای کدهای خود مطمئن شدیم، نوبت به مستقرکردن آن می‌رسد. اگر تعداد توسعه‌دهندگان
                    یا سرعت توسعه بالا باشد، این کار به‌شدت خسته‌کننده می‌شود. به همین جهت از ابزاری استفاده می‌کنیم که
                    این عملیات را برایمان ساده کند. به چنین کاری Continuous Deployment یا به اختصار CD گفته می‌شود.
                </p>
                <p>ما در کداستار برای انجام عملیات‌های مربوط به CI و CD از GitHub استفاده می‌کنیم.</p>
            </li>
        </ul>
    </main>
</section>
