<section id="content">
    <header>
        <h2>محتوای دوره فرانت‌اند</h2>
    </header>

    <main>
        <ul>
            <li>
                <technology-html class="icon"></technology-html>
                <div class="description">
                    <h3>Advanced HTML</h3>
                    <p>
                        قطعاً تمام کارآموزها با HTML تا اندازۀ خیلی خوب آشنا هستند؛ اما متاسفانه کمتر پیش می‌آید که کسی
                        به دنبال مباحث پیشرفتۀ HTML برود و این زبان را آن‌طور که بایدوشاید یاد بگیرد.
                    </p>
                    <p>
                        در این بخش مباحثی مانند استفادۀ درست از تگ‌های معنایی، استفادۀ صحیح از عکس‌ها، پشتیبانی از
                        قالب‌های رنگی و زبان‌های متفاوت، جلوگیری از تغییر چیدمان صفحه، و بهبود دسترسی‌پذیری را آموزش
                        می‌دهیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-css class="icon"></technology-css>
                <div class="description">
                    <h3>Advanced CSS</h3>
                    <p>
                        یکی از ترسناک‌ترین زبان‌های دنیا CSS است و اکثر افراد همین دلیل از آن متنفرند. این موضوع باعث
                        می‌شود اهمیت و قدرت این زبان ناشناخته باقی بماند.
                    </p>
                    <p>
                        ما در ابتدا سعی می‌کنیم برخی از ایرادات و سوءتفاهم‌های احتمالی کارآموزها را در مورد CSS را مرتفع
                        کنیم و بعد به آن‌ها ویژگی‌های منحصربه‌فردی که باعث شده‌اند این زبان یکی از خاص‌ترین زبان‌های
                        دنیا شود را یاد دهیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-npm class="icon"></technology-npm>
                <div class="description">
                    <h3>npm</h3>
                    <p>
                        کمتر کسی است که با npm آشنا نباشد. این ابزار در کوچک‌ترین پروژه‌ها مانند وبسایت‌های شخصی تا
                        بزرگ‌ترین پروژه‌ها مانند پروژه‌های صنعتی، استفاده می‌شود و ما هم برای ادامۀ دوره و بالابردن سطح
                        آموزش‌ها به آن احتیاج داریم.
                    </p>
                </div>
            </li>
            <li>
                <technology-sass class="icon"></technology-sass>
                <div class="description">
                    <h3>Sass</h3>
                    <p>
                        در پروژه‌های کوچک معمولاً کمبودی در CSS احساس نمی‌شود و تمام نیازهای توسعه‌دهنده را برطرف
                        می‌کند؛ اما با رشد پروژه‌ها و نزدیک‌شدن به دنیای صنعت، قطعاً به یک Preprocessor مانند Sass
                        احتیاج پیدا خواهید کرد.
                    </p>
                    <p>
                        ما برای شروع فرض می‌کنیم کارآموزها قبلاً از Sass استفاده نکرده‌اند و این ابزار را از صفر به
                        آن‌ها آموزش می‌دهیم. سپس به سراغ ویژگی‌های کاربردی آن مانند لیست‌ها، شرط‌ها، حلقه‌ها و توابع
                        می‌رویم.
                    </p>
                </div>
            </li>
            <li>
                <technology-javascript class="icon"></technology-javascript>
                <div class="description">
                    <h3>Advanced JavaScript</h3>
                    <p>
                        ممکن است بعضاً از دیگران شنیده باشید یا حتی خودتان هم نظرتان این باشد که JavaScript زبانی
                        بی‌قاعده است و در شرایط یکسان، نسبت به زبان‌های دیگر خروجی غیرمنتظره‌ای را تولید می‌کند.
                    </p>
                    <p>
                        ما در ابتدا سعی می‌کنیم سوءتفاهم‌های احتمالی کارآموزها را برطرف کنیم و توضیح دهیم که رفتار بعضاً
                        عجیب JavaScript در کجا ریشه دارد؛ سپس به سراغ مباحث پیشرفته‌تری مانند مدیریت اطلاعات در سمت
                        کلاینت، برنامه‌نویسی ناهمگام، ارسال درخواست به APIها و مدیریت تاریخچۀ مرورگر می‌رویم.
                    </p>
                    <p>
                        همچنین در این بخش، نحوۀ درست نوشتن کد تمیز، پیداکردن کد کثیف، بازنویسی کدهای قدیمی و اصولی مانند
                        SOLID را به کارآموزها آموزش می‌دهیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-ui-ux class="icon"></technology-ui-ux>
                <div class="description">
                    <h3>UI/UX</h3>
                    <p>
                        لزوماً هر توسعه‌دهنده‌ای، طراح UI/UX نیست، اما فراگیری این دانش قطعاً به تمام توسعه‌دهنده‌ها کمک
                        می‌کند تا وبسایتی طراحی کنند که هم از نظر جلوه‌های بصری و هم از لحاظ تجربۀ کاربر به اوج خود
                        برسد.
                    </p>
                    <p>
                        مباحث مربوط به این بخش را از پایه به کارآموزها آموزش می‌دهیم و سعی می‌کنیم آن‌ها را با تمام اصول
                        پایه مانند رعایت تضاد رنگی، ترازکردن المان‌ها، فضای تنفس و تایپوگرافی آشنا کنیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-angular class="icon"></technology-angular>
                <div class="description">
                    <h3>Angular</h3>
                    <p>
                        خوشبختانه برای طراحی سایت، کتابخانه‌ها و Frameworkها متعددی وجود دارد که هر کس برحسب نیاز خود
                        می‌تواند یکی از آن‌ها را انتخاب کند.
                    </p>
                    <p>
                        در پروژه‌های کوچک ابزارهایی مانند Svelte و Vue بسیار راهگشا هستند چراکه یادگیری آن‌ها ساده است و
                        از حجم کمی برخوردار هستند؛ در پروژه‌های متوسط و کمی بزرگ‌تر به ابزاری مانند React احتیاج پیدا
                        می‌کنیم که بتواند مجموعه‌ای از کتابخانه‌های مختلف را در کنار هم جمع کند و در اختیار توسعه‌دهنده
                        قرار دهد؛ اما در پروژه‌های بزرگ و صنعتی، بعید است ابزاری به قدرتمندی Angular بتوان پیدا کرد.
                    </p>
                    <p>
                        Angular تنها یک کتابخانه نیست، بلکه یک Framework است که برای تمام نیازهای شما یک راه‌حل از قبل
                        تهیه کرده و شما تنها کافی است از آن استفاده کنید. با اینکه یادگیری Angular نسبت به ابزارهایی که
                        در بالا از آن‌ها یاد کردیم سخت‌تر است، اما به مرور زمان قطعاً متوجه قدرت آن خواهید شد و از وقتی
                        که گذاشتید احساس رضایت خواهید کرد.
                    </p>
                </div>
            </li>
        </ul>
    </main>
</section>

<section>
    <header>
        <h2>محتوای دوره مهندسی نرم‌افزار</h2>
    </header>

    <main>
        <ul>
            <li>
                <technology-c-sharp class="icon"></technology-c-sharp>
                <div class="description">
                    <h3>C#</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
            <li>
                <technology-nuget class="icon"></technology-nuget>
                <div class="description">
                    <h3>Nuget</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
            <li>
                <technology-dot-net-core class="icon"></technology-dot-net-core>
                <div class="description">
                    <h3>ASP.NET Core</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
            <li>
                <technology-elasticsearch class="icon"></technology-elasticsearch>
                <div class="description">
                    <h3>Elasticsearch</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
            <li>
                <technology-kibana class="icon"></technology-kibana>
                <div class="description">
                    <h3>Kibana</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
            <li>
                <technology-postgresql class="icon"></technology-postgresql>
                <div class="description">
                    <h3>PostgreSQL</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
            <li>
                <technology-xunit class="icon"></technology-xunit>
                <div class="description">
                    <h3>xUnit.net</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
        </ul>
    </main>
</section>
