section {
    display: flex;
    align-items: center;

    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        max-width: 80rem;

        a {
            margin-block-start: 4rem;
        }
    }
}
