section {
    display: flex;
    align-items: center;

    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
            max-width: 20ch;
        }

        p {
            max-width: 60ch;
        }

        a {
            margin-block-start: 4rem;
        }
    }
}
