section {
    position: relative;
	overflow: hidden;
	
    display: flex;
    align-items: center;

    .watermark {
        opacity: 0.05;

        position: absolute;
        inset-inline-end: 50%;

        transform: translateX(-50%);

        font-size: 30vw;
        font-weight: 900;
        text-transform: uppercase;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        max-width: 100rem;

        a {
            margin-block-start: 4rem;
        }
    }

    .scroll-indicator {
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: var(--full-width-padding-inline);
        overflow: hidden;

        font-size: 7.2rem;

        .arrow {
            animation: hero-scroll-indicator-animation 2s infinite;
        }
    }
}

@keyframes hero-scroll-indicator-animation {
    0% {
        transform: translateY(-100%);
    }

    20%,
    80% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}
