<section id="numbers">
    <header>
        <h2>آمار و ارقام</h2>
    </header>

    <main>
        <ul>
            <li>
                <div class="number">70</div>
                <div class="title">کارآموز</div>
            </li>
            <li>
                <div class="number">82</div>
                <div class="title">پروژه</div>
            </li>
            <li>
                <div class="number">26+</div>
                <div class="title">ساعت کارگاه ضبط‌شده</div>
            </li>
            <li>
                <div class="number">2300+</div>
                <div class="title">ساعت جلسۀ درون‌گروهی</div>
            </li>
            <li>
                <div class="number">3400+</div>
                <div class="title">خط آموزش متنی</div>
            </li>
            <li>
                <div class="number">800+</div>
                <div class="title">کامنت هنگام بازبینی کد</div>
            </li>
            <li>
                <div class="number">400+</div>
                <div class="title">بار چکش‌کاری و بازبینی محتوا</div>
            </li>
        </ul>
    </main>
</section>
