<section #section id="faq">
    <header>
        <h2>سوالات متدوال</h2>
    </header>

    <main>
        <ul>
            <li
                *ngFor="let item of items; index as index"
                [class.active]="item.isOpen"
                (click)="questionClickHandler(index)"
            >
                <div class="background"></div>
                <h3 class="question">
                    <div class="text">{{ item.question }}</div>
                </h3>
                <div class="answer">
                    <p class="text">{{ item.answer }}</p>
                </div>
            </li>
        </ul>
    </main>
</section>
